<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="jaeger" type="OpenTracing.Contrib.Wcf.Common.Jaeger.Config.JaegerConfigurationSection, OpenTracing.Contrib.Wcf.Common" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <jaeger enabled="true" service_name="wcf.test.server" use="udp">
        <udpSender host="localhost" port="6831" max_packet_size="1024" />
    </jaeger>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="serviceBinding" />
            </netTcpBinding>
        </bindings>

        <services>
            <service behaviorConfiguration="withServerTracingInterceptor" name="OpenTracing.Contrib.Wcf.Common.BusinessLogic.ReportService">
                <endpoint address="net.tcp://localhost:5001/ReportsEndPoint/Reports" binding="netTcpBinding"
                          bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IReportService" name="Reports" />
            </service>
            <service behaviorConfiguration="withServerTracingInterceptor" name="OpenTracing.Contrib.Wcf.Common.BusinessLogic.ThrowsService">
                <endpoint address="net.tcp://localhost:5002/ThrowsEndPoint/Throws" binding="netTcpBinding"
                          bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IThrowsService" name="Throws" />
            </service>
            <service behaviorConfiguration="withServerTracingInterceptor" name="OpenTracing.Contrib.Wcf.Common.BusinessLogic.ExportService">
                <endpoint address="net.tcp://localhost:5003/ExportsEndPoint/Exports" binding="netTcpBinding"
                          bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IExportService" name="Exports" />
            </service>
            <service name="OpenTracing.Contrib.Wcf.Common.BusinessLogic.ImageService">
                <endpoint address="net.tcp://localhost:5004/ImagesEndPoint/Images" binding="netTcpBinding"
                          bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IImageService" name="Images" />
            </service>
        </services>

        <client>
            <endpoint address="net.tcp://localhost:5001/ReportsEndPoint/Reports" behaviorConfiguration="withClientTracingInterceptor" binding="netTcpBinding"
                      bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IReportService" name="Reports" />
            <endpoint address="net.tcp://localhost:5003/ExportsEndPoint/Exports" behaviorConfiguration="withClientTracingInterceptor" binding="netTcpBinding"
                      bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IExportService" name="Exports" />
            <endpoint address="net.tcp://localhost:5004/ImagesEndPoint/Images" behaviorConfiguration="withClientTracingInterceptor" binding="netTcpBinding"
                      bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IImageService" name="Images" />
        </client>

        <extensions>
            <behaviorExtensions>
                <add name="serverTracingInterceptor" type="OpenTracing.Contrib.Wcf.Interceptors.ServerTracingExtensionElement, OpenTracing.Contrib.Wcf, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null"/>
                <add name="clientTracingInterceptor" type="OpenTracing.Contrib.Wcf.Interceptors.ClientTracingExtensionElement, OpenTracing.Contrib.Wcf, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>
        </extensions>

        <behaviors>
            <serviceBehaviors>
                <behavior name="withServerTracingInterceptor">
                    <serverTracingInterceptor />
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="withClientTracingInterceptor">
                    <clientTracingInterceptor />
                </behavior>
            </endpointBehaviors>
        </behaviors>

    </system.serviceModel>
</configuration>
