<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="jaeger" type="OpenTracing.Contrib.Wcf.Common.Jaeger.Config.JaegerConfigurationSection, OpenTracing.Contrib.Wcf.Common" />
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <jaeger enabled="true" service_name="wcf.test.client" use="udp">
        <udpSender host="localhost" port="6831" max_packet_size="1024" />
    </jaeger>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="serviceBinding" />
            </netTcpBinding>
        </bindings>

        <client>
            <endpoint address="net.tcp://localhost:5001/ReportsEndPoint/Reports" behaviorConfiguration="withClientTracingInterceptor" binding="netTcpBinding"
                      bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IReportService" name="Reports" />
            <endpoint address="net.tcp://localhost:5002/ThrowsEndPoint/Throws" behaviorConfiguration="withClientTracingInterceptor" binding="netTcpBinding"
                      bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IThrowsService" name="Throws" />
            <endpoint address="net.tcp://localhost:5003/ExportsEndPoint/Exports" behaviorConfiguration="withClientTracingInterceptor" binding="netTcpBinding"
                      bindingConfiguration="serviceBinding" contract="OpenTracing.Contrib.Wcf.Common.BusinessLogic.IExportService" name="Exports" />
        </client>

        <extensions>
            <behaviorExtensions>
                <add name="clientTracingInterceptor" type="OpenTracing.Contrib.Wcf.Interceptors.ClientTracingExtensionElement, OpenTracing.Contrib.Wcf, Version=0.1.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>
        </extensions>

        <behaviors>
            <endpointBehaviors>
                <behavior name="withClientTracingInterceptor">
                    <clientTracingInterceptor />
                </behavior>
            </endpointBehaviors>
        </behaviors>

    </system.serviceModel>
</configuration>
